body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

.box {
  background: white;
  padding: 15px;
  margin-top: 20px;
  width: 400px;
  border-radius: 8px;
}

.file {
  margin-top: 10px;
}

.file img {
  width: 150px;
  display: block;
  margin-bottom: 5px;
}

button {
  cursor: pointer;
}
